@model SitecoreDev.Feature.Media.ViewModels.HeroSliderViewModel
  @if (Model.HasImages)
  {
    if (Model.IsInExperienceEditorMode)
    {
      foreach (var image in Model.HeroImages)
       {
         <div class="item imageContainer">
           @image.Image
         </div>
       }
    }
    else
    {
      foreach (var image in Model.HeroImages)
      {
        <div class="item @(image.IsActive ? "active" : "")">
          @image.Image
        </div>
      }
    }
  }
